server {
    listen [::]:80;
    listen 80;
    server_name cyberpatrol-pilots.ceasefire-project.eu www.cyberpatrol-pilots.ceasefire-project.eu;
    
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
        allow all;
    }

}